{% extends 'base.html' %}
{% block content %}

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center ">
          <h3 style="color: white;" data-aos="fade-up"><img src="static/assets/img/logo-white.png"></h1>
            <h2 style="color: white;" data-aos="fade-up" data-aos-delay="400">A ELOS é um educandário que atua dentro do
              ambiente corporativo, desde o desenvolvimento dos espaços, até o cuidado cotidiano das crianças.</h2>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-center text-lg-start">
                <a href="#about"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Conhecer mais</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content" style="border-radius: 5px 0px 0px 5px;">
              <h1>Sobre Nós</h1>
              <p>
                Somos uma empresa que oferece serviço de creche corporativa, atuando como ponte para que os
                colaboradores tenham o benefício de estarem mais próximos de seus filhos durante a primeira infância.
                <br />
                <br />
                Com uma equipe altamente preparada e em constante formação e atualização, acompanhamos desde a
                gestação até o 3º ano de vida, colaborando com o desenvolvimento e conexão entre pais e filhos.
              </p>
              <!-- <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div> -->
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img style="border-radius: 5px;" src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->  

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">
        <div class="row feature-icons" style="margin-top: 0px !important;" data-aos="fade-up">
          <header class="section-header">
            <p>Nossa missão!</p>
          </header>
          <div class="col-xl-6 text-center" data-aos="fade-right" data-aos-delay="100">
            <img src="static/assets/img/mission.png" class="img-fluid p-4" alt="">
          </div>
          <div class="col-xl-6 d-flex content">
            <div class="row align-self-center gy-4">

              <div class="col-md-12 icon-box" data-aos="fade-up">
                <i style="color: #09667d" class="ri-shield-star-line"></i>
                <div>
                  <h4>Missão</h4>
                  <p>Ser a ponte para que as empresas ofereçam um estreitamento de vínculos na
                    primeira infância aos seus funcionários em relação aos seus filhos,
                    prestando um serviço de excelência, alinhados às necessidades da empresa e da família.</p>
                </div>
              </div>

              <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i style="color: #09667d" class="ri-search-eye-line"></i>
                <div>
                  <h4>Visão</h4>
                  <p>Tornar este benefício acessível para empresas de todos os portes.</p>
                </div>
              </div>

              <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i style="color: #09667d" class="ri-vip-diamond-line"></i>
                <div>
                  <h4>Valores</h4>
                  <p><span style="font-weight: 700">Humanidade e presença</span>: Em nosso Educandário as relações
                    humanas, em todas suas formas são importantes: com a família e crianças; com a empresa, que acredita
                    e contrata; e com nossos funcionários. São os 3 ELOS, onde a orientação e a troca são a base para
                    realização do nosso propósito.
                    <br />
                    <br />
                    <span style="font-weight: 700">Gestão democrática</span>: Temos como um de nossos fundamentos a
                    escuta ativa e efetiva de todos que compõem nossa equipe, provocando um debate das teorias de forma
                    a sempre reavaliar nossas práticas, buscando constante desenvolvimento.
                    <br />
                    <br />
                    <span style="font-weight: 700">Bem-estar comum</span>: Prezamos pelo contentamento e satisfação de
                    nossos 3 pilares: famílias e crianças; empresa contratante; e Educandário; criando um ambiente onde
                    a comunicação é a chave onde os ELOS se fortalecem de maneira estruturada.
                    <br />
                    <br />
                    <span style="font-weight: 700">Olhar e registro</span>: Consideramos o registro de toda a equipe
                    sobre o cotidiano imprescindível para que nosso olhar seja direcionado de forma assertiva à prática.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Feature Icons -->
      </div>
    </section><!-- End Features Section -->

    <section id="services" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Nossos serviços</h2>
          <p>Conheça nossos principais serviços oferecidos</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="static/assets/img/values-1.png" class="img-fluid" alt="">
              <h3>O Educandário </h3>
              <p>Espaço de apoio dentro da empresa dedicado para recepção e cuidado das crianças</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="static/assets/img/values-2.png" class="img-fluid" alt="">
              <h3>Para Gestantes</h3>
              <p>Oferece suporte com acompanhamento coletivo e cursos para funcionárias gestantes.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="static/assets/img/values-3.png" class="img-fluid" alt="">
              <h3>Cursos Livres</h3>
              <p>Ferramenta oferecida para formação e ampliação dos conhecimentos dos profissionais da área.</p>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Galeria</h2>
          <p>Galeria de Fotos</p>
        </header>
        <div class="row gy-4">

          <div class="col-lg-12 text-center">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/assets/img/carousel-1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/carousel-2.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/assets/img/carousel-3.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contato</h2>
          <p>Fale Conosco!</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Endereço</h3>
                  <p>Rua Exemplo, 98 - São Paulo/SP</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Entre em contato</h3>
                  <p>+55 (11) 99999-9999</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Envie um email</h3>
                  <a href="mailto:contato@educandarioelos.com.br">contato@educandarioelos.com.br</a>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Nome" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Assunto" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Digite sua mensagem aqui"
                    required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Carregando...</div>
                  <div class="error-message">Ops! Houve um erro ao tentar enviar a mensagem, tente novamente./div>
                    <div class="sent-message">Sua mensagem foi enviada. Obrigado!</div>

                  </div>
                  <button type="submit" style="background-color: #09667d;">Enviar mensagem</button>

                </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}