{% extends 'base.html' %}
{% block content %}

<!-- ======= Features Section ======= -->
<section id="features" class="features" style="padding: 265px 0px">

    <div class="container" data-aos="fade-up">
        <div class="row feature-icons" style="margin-top: 0px !important;" data-aos="fade-up">
            <header class="section-header" style="text-align: left;">
                <p>Obrigado!</p>
            </header>
            <div class="col-xl-6 d-flex content">
                <div class="row align-self-center gy-4">
                    <div class="col-md-12 icon-box" data-aos="fade-up">
                        <i style="color: #09667d" class="ri-mail-send-line"></i>
                        <div>
                          <h4>Mensagem enviada.</h4>
                          <p>Recebemos a sua mensagem, em breve retornaremos 
                            o contato no mesmo email informado no formulário, obrigado!</p>
                        </div>
                      </div>
                </div>
            </div>
        </div><!-- End Feature Icons -->
    </div>
</section><!-- End Features Section -->


{% endblock %}